body{
    background-color: #010b19, #021631,#03214a,#042c62,#05377b;
    background-image: linear-gradient(90deg ,#010b19, #021631,#03214a,#042c62,#05377b);
    color: #ecddc6;
    font-family: dengsian;
}
